<div class="container">
    <div>REGIONE: </div>
    <select (ngModelChange)="ngOnChanges($event)" (change)="cambioRegione()" [(ngModel)]="regioneCorrente">
        <option *ngFor="let r of regioni" [ngValue]="r"> {{r.nome}} </option>
    </select>
    
    <span></span>
    
    <div>PROVINCIA: </div>
    <select *ngIf="regioneCorrente" (change)="cambioProvincia()" [(ngModel)]="provinciaCorrente">
        <option *ngFor="let p of province" [ngValue]="p"> {{p.nome}} </option>
    </select>
    
    <span></span>
    
    <div>COMUNE: </div>
    <select *ngIf="provinciaCorrente" [(ngModel)]="comuneCorrente">
        <option *ngFor="let c of comuni" [ngValue]="c"> {{c.nome}} </option>
    </select>
    
    <span></span>
    
    <button *ngIf="comuneCorrente && comuneCorrente?.nome !== ''" (click)="navigaAComune()"> Vai al comune</button>
</div>